/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*Estilos propios: */

:root {
  --color-botones-nav: #a8a9b4;
  --background-nav: #040b14;
  --background-seccion-claro: #ffffff;
  --background-seccion-medio: #f4fafd;
  --background-seccion-oscuro: #01050b;
  --fondo-icono: #a8a9b4;
  --fondo-icono-seleccionado: #149ddd;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

html {
  scroll-behavior: smooth;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: rgb(198, 196, 196);
}

.boton-menu-container {
  display: none;
}

.boton-menu-abrir {
  display: none;
}

.boton-menu-cerrar {
  display: none;
}

.ocultar {
  display: none;
}
.transparente {
  visibility: none;
}
.anchor-repo {
  position: absolute;
  overflow: hidden;
  right: 0;
  top: 0;
}
.link-al-repo {
  position: relative;
  right: -20%;
  top: -20%;
  width: 200px;
  height: 200px;
  color: white;
  z-index: 999;
  filter: brightness(50%);
  transform: translate(10%, -40%) rotate(225deg);
  transition: all 0.25s;
}
.link-al-repo:hover {
  transform: translate(-15%, -10%) rotate(215deg);
  filter: brightness(100%);
}

.header {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 300px;
  background-color: var(--background-nav);
  box-shadow: 0 0 5px 1.5px rgba(0, 0, 0, 0.6);
  transition: all 0.25s;
  z-index: 900;
}

.header-titulo {
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: 800;
}

.nombre {
  color: var(--fondo-icono-seleccionado);
}

.header-image-container {
  padding: 2rem 0.5rem 0.5rem 0.5rem;
  display: grid;
  place-items: center;
  gap: 1rem;
}

.header-foto {
  border: solid 8px rgba(76, 71, 71, 0.8);
  width: 60%;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 0 5px 1.5px rgba(0, 0, 0, 0.6);
}

.header-redessociales {
  padding: 0.5rem 0.5rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.iconos-redes {
  width: 30px;
  height: 30px;
  cursor: pointer;
  filter: brightness(50%);
  transition: all 0.25s;
}

.iconos-redes:hover {
  filter: brightness(100%);
}

.navegacion {
  padding: 2rem;
  margin: 0;
  display: flex;
}

.botones-nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  transition: background-color 0.3s;
}

.lista-nav {
  padding: 3rem 0.25rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.lista-nav li {
  display: flex;
  gap: 0.75rem;
}

.icono-nav {
  fill: var(--fondo-icono);
  width: 30px;
  height: 30px;
}

.icono-nav-seleccionado {
  fill: var(--fondo-icono-seleccionado);
}

.nav-titulo a {
  align-self: center;
  text-decoration: none;
  font-weight: 800;
  color: var(--color-botones-nav);
  transition: color 0.25s;
}

.nav-titulo:hover a {
  color: var(--background-seccion-claro);
}

.logo {
  fill: rgba(10, 10, 10, 0.784);
  position: absolute;
  left: 0;
  top: 0;
  width: 128px;
  height: 128px;
  transform: translate(-20%, -20%) rotate(145deg);
  overflow: hidden;
  transition: all 0.5s;
  cursor: pointer;
}

.logo:hover {
  transform: translate(-15%, -15%) rotate(135deg);
}

.main-titulo {
  font-size: 2rem;
}
/*====================================================*/
/*====================================================*/
/*====================================================*/
/*====================================================*/

/*seccion main*/

.seccion {
  margin-left: 300px;
  margin-top: 0;
}

.seccion-main {
  min-height: 100vh;
  background-color: var(--background-seccion-oscuro);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  padding-inline: 3rem;
  font-size: 4rem;
  color: white;
}

.main-titulo {
  font-size: 2.5rem;
}
.contenedor-descripcion {
  width: 100%;
  display: flex;
  font-size: 4rem;
}

.main-descripcion {
  border-bottom: 2.5px solid var(--fondo-icono-seleccionado);
}

.cursor {
  font-weight: 700;
  color: var(--fondo-icono-seleccionado);
  padding-bottom: 0.25rem;
  border-bottom: 2.5px solid var(--fondo-icono-seleccionado);
}

.titilar {
  animation: titilar 1s infinite step-end;
}
@keyframes titilar {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/*====================================================*/
/*====================================================*/
/*====================================================*/
/*====================================================*/
.card {
  background-color: #fff;
  padding: 1.5rem;
  border-radius: 1rem;
  box-shadow: 0 0 5px 1.75px rgba(0, 0, 0, 0.4);
}
/*Seccion sobre mi: */
.seccion-sobremi {
  padding: 2rem 2.5rem 6rem 2.5rem;
  font-size: 4rem;
  background-color: var(--background-seccion-medio);
  line-height: 1.15;
}

.seccion-titulo {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 4rem;
  color: #040b14;
  position: relative;
}

.seccion-titulo::after {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  bottom: -20px;
  width: 100px;
  height: 3px;
  background-color: #0a66c2;
}

.contenedor-cards {
  margin-top: 6rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}
.seccion-sobremi-texto {
  font-size: 1.25rem;
}

/*Seccion conocimientos*/

.seccion-conocimientos {
  margin-left: 300px;
  margin-top: 0;
  padding: 2rem 2.5rem;
  background-color: var(--background-seccion-claro);
}

.seccion-conocimientos-text {
  font-size: 1.25rem;
}

.contenedor-grid-tecnologias {
  display: grid;
  place-items: center;
  padding: 5rem 0 3rem 0;
}
.grid-tecnologias {
  display: grid;
  width: 80%;
  grid-template-columns: repeat(4, 1fr);
  gap: 2.5rem;
}
.iconos-tecnologias {
  filter: grayscale(1);
  width: 200px;
  height: 200px;
  cursor: pointer;
  transition: all 0.25s;
}

.iconos-tecnologias:hover {
  filter: grayscale(0);
  scale: 1.15;
}

/*Seccion proyectos*/

.seccion-proyectos {
  padding: 2rem 2.5rem 4rem 2.5rem;
  background-color: var(--background-seccion-medio);
  line-height: 1.15;
}
.grid-proyectos {
  justify-self: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  max-width: 80%;
}
.card-proyecto {
  max-width: 400px;
}

.proyecto-titulo {
  font-size: 1.25rem;
  font-weight: 800;
  justify-self: left;
  align-self: center;
}
.proyecto-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
}

.proyecto-container h5 {
  justify-self: center;
  font-weight: 700;
}
.img-proyecto {
  width: 250px;
  height: 250px;
  border-radius: 10px;
}

.contenedor-tecnologias-proyecto {
  display: flex;
  gap: 0.75rem;
}

.img-tecnologia-miniatura {
  height: 40px;
  width: 40px;
}
/* Seccion contacto*/
.seccion-contacto {
  padding: 2rem 2.5rem 4rem 2.5rem;
  background-color: var(--background-seccion-claro);
  line-height: 1.15;
}

.contenedor-seccion-contacto {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-formulario {
  min-width: 700px;
}

.contenedor-form form {
  min-height: 200px;
  min-width: 100%;
}

.contenedor-inputs {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contenedor-form input,
textarea,
label {
  margin-block: 1rem;
  width: 100%;
  height: 25px;
  resize: vertical;
}

.contenedor-form textarea {
  min-height: 150px;
}

.contenedor-form button {
  font-size: 1rem;
  font-weight: 800;
  margin-top: 0.5rem;
  place-self: center;
  border: none;
  padding: 1rem;
  min-width: 200px;
  max-width: 200px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.25s;
}

.contenedor-form button:hover {
  background-color: var(--fondo-icono-seleccionado);
  color: white;
}
/*Media queries*/

@media (max-width: 768px) {
  .boton-menu-container {
    position: fixed;
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: var(--fondo-icono-seleccionado);
    display: grid;
    place-items: center;
    transform: translate(10px, 10px);
    z-index: 999;
  }

  .boton-menu-abrir {
    display: block;
    width: 30px;
    height: 30px;
    cursor: pointer;
  }

  .boton-menu-cerrar {
    display: block;
    cursor: pointer;
    width: 30px;
    height: 30px;
  }

  .header-visible {
    transform: translate(0px);
  }

  .ocultar {
    display: none;
  }
  .header-no-visible {
    transform: translate(-300px);
  }

  .main-titulo {
    font-size: 2rem;
  }

  .seccion {
    margin: 0;
  }

  .link-al-repo {
    width: 100px;
    height: 100px;
  }

  .main-descripcion {
    font-size: 2.25rem;
  }

  .cursor {
    font-size: 2.25rem;
  }

  .seccion-sobremi-texto {
    font-size: 1rem;
  }

  .seccion-conocimientos-text {
    font-size: 1rem;
  }

  .seccion-sobremi {
    padding: 1.5rem;
  }

  .seccion-conocimientos {
    padding: 1rem;
  }

  .seccion-proyectos {
    padding: 1rem;
  }
  .grid-tecnologias {
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }

  .iconos-tecnologias {
    width: 80px;
    height: 80px;
  }

  .grid-proyectos {
    grid-template-columns: 1fr;
  }

  .card-formulario {
    max-width: 300px;
    min-width: 300px;
  }
}
